[Unit]
Description=Zynolo Nexus Meeting Room Booking Service
After=network.target

[Service]
User=dtech
WorkingDirectory=/opt/zynolo-nexus/meeting_room_booking_service
ExecStart=/usr/bin/java -jar /opt/zynolo-nexus/meeting_room_booking_service/meeting_room_booking_service.jar
SuccessExitStatus=143
Restart=always
RestartSec=5
Environment=SPRING_PROFILES_ACTIVE=dev

[Install]
WantedBy=multi-user.target
