[Unit]
Description=Zynolo Nexus PO Service
After=network.target

[Service]
User=dtech
WorkingDirectory=/opt/zynolo-nexus/po_service
ExecStart=/usr/bin/java -jar /opt/zynolo-nexus/po_service/po_service.jar
SuccessExitStatus=143
Restart=always
RestartSec=5
Environment=SPRING_PROFILES_ACTIVE=dev

[Install]
WantedBy=multi-user.target
